
@{
    ViewBag.Title = "TrangChuAdmin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
<link rel="stylesheet" href="~/Content/sanpham.css" />

<h1>Trang chủ Admin</h1>

